In [18]:
import pandas as pd
from sqlalchemy import create_engine

In [19]:
csv_file = "../db/happiness-cantril-ladder.csv"
globalhappiness_data_df = pd.read_csv(csv_file)
globalhappiness_data_df.head()

,Entity,Code,Year,World Happiness Report 2016 (Cantril Ladder (0=worst; 10=best)),latitude,longitude
0,Afghanistan,AFG,2008,3.723590,33.93911,67.709953
1,Afghanistan,AFG,2009,4.401778,33.93911,67.709953
2,Afghanistan,AFG,2010,4.758381,33.93911,67.709953
3,Afghanistan,AFG,2011,3.831719,33.93911,67.709953
4,Afghanistan,AFG,2012,3.782938,33.93911,67.709953

In [20]:
database_path = "globalhappiness"
engine = create_engine(f"sqlite:///{database_path}")

In [21]:
# check for tables
engine.table_names()

['happiness']

In [22]:
globalhappiness_data_df.to_sql(name='happiness', con=engine, if_exists='append', index=False)

In [23]:
pd.read_sql_query('SELECT * FROM happiness Where Year = 2017', con=engine).head()

,Entity,Code,Year,World Happiness Report 2016 (Cantril Ladder (0=worst; 10=best)),latitude,longitude
0,Afghanistan,AFG,2017,2.661718,33.939110,67.709953
1,Albania,ALB,2017,4.639548,41.153332,20.168331
2,Algeria,DZA,2017,5.248912,28.033886,1.659626
3,Argentina,ARG,2017,6.039330,-38.416097,-63.616672
4,Armenia,ARM,2017,4.287736,40.069099,45.038189